services:
  db:
    image: mysql:8.0
    container_name: mysql
    networks:
      - app-network
    volumes:
      - app-volume:/var/lib/mysql
    environment:
      MYSQL_USER: govind
      MYSQL_ROOT_PASSWORD: govind123
      MYSQL_PASSWORD: govind123
      MYSQL_DATABASE: demo
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
  backend:
    build: ./RESTAPI-ANGULAR-integration\crud-api-backend\Dockerfile
    container_name: backend
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
  frontend:
    build: ./RESTAPI-ANGULAR-integration\frontend\demo\Dockerfile
    container_name: frontend
    ports:
      - "4200:80"
    networks:
      - app-network
    depends_on:
      - backend

volumes:
  app-volume:

networks:
  app-network:
